.clock {
  position: relative;

  width: 300px;
  height: 300px;

  background-color: antiquewhite;

  border-radius: 50%;
}

.clock .clock__arrow {
  position: absolute;

  transform-origin: 0 100%;

  left: 50%;
}

.clock .clock__arrow-hours {
  height: 100px;
  width: 5px;

  top: calc(50% - 100px);

  background-color: #333;
}

.clock .clock__arrow-minutes {
  height: 135px;
  width: 3px;

  top: calc(50% - 135px);

  background-color: royalblue;
}

.clock .clock__arrow-seconds {
  height: 145px;
  width: 2px;

  top: calc(50% - 145px);

  background-color: red;
}
